



.task-item {
    position: relative; 
  }
  
  .delete-button {
    display: none;
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 20px;
  }
  
  .task-item:hover .delete-button {
    display: inline; 
  }
  .card-body2 {
    display: flex;
    align-items: center;
    padding: 20px; 
  }
  
  .card-body2 .title-container {
    flex: 1;
    margin-right: 20px; 
  }
  
  .card-body2 .buttons-container {
    flex-shrink: 0;
    margin-left: 20px;
  }
  
  .card-body2 .separator {
    width: 1px;
    background-color: #dee2e6;
    height: calc(100% - 40px); 
    margin: 0 20px;
  }
  
  .card-body2 .message {
    margin-top: 20px;
    text-align: center;
  }
  
  .container {
    text-align: center;
  }